{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block home_active %}active{% endblock %}

{% block content %}
<div id="home" class="banner">
    <div class="ADlogo">
        <img src="{% static 'images/logo.png' %}" alt="Logo Image">
        <p>Auto Dialer</p>
        <div class="rightside">
            <a href="https://en.wikipedia.org/wiki/Auto_dialer">Info</a>
            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=autodialer2@gmail.com">Contact us</a>
        </div>
    </div>
    <div class="app-text">
        <h1>Welcome to VoIP Auto Dialer</h1>
        <p><br>Auto Dialer allows to automate scheduled outgoing
        <br>calls directly to telephone numbers from a list of
        <br>contacts, with the option of playing audio messages.
        <br>That eliminates the need to spend pointless time
        <br>dialing each and every telephone number you need to call manually.</p>
        <div class="purple-btn">
            <a class="btn purple" href="/contacts">Get Started</a>
        </div>
    </div>
    <div class="app-picture">
      <img src="{% static 'images/myproject.png' %}" alt="Main Image">
    </div>
</div>
{% endblock %}